<div class="row marketing">
  <div class="col-lg-6">
    <% @pokemons.each do |pokemon| %>
      <h4><%= pokemon.name %>, Level <%= pokemon.level %></h4>
      <p><%= pokemon.description %></p>
    <% end %>
  </div>
</div>
<div class="footer">
  <p>&copy; Rails Decal 2014</p>
</div>
